<% reply = @reply.first %>
<li class="comment_reply" id="<%=reply.id %>">
  <div class="wn__comment">
    <div class="thumb">
    <%= reply.parent_id %>
    <img src="<%= reply.user.user_img.url(:user_index) %>" alt="">
    </div>
    <div class="content">
      <div class="comnt__author d-block d-sm-flex">
        <span><a href="<%= user_path(reply.user)%>"><%= reply.user.name %></a> Post author</span>
        <span>
          <% if reply.created_at > Time.now.beginning_of_day %>
            Vào <%="#{time_ago_in_words(reply.created_at)} ago"%>
          <% else %>
            Vào <%= l(reply.created_at,format: '%B, %d %Y %H:%M:%S')  %>
          <% end %>
        </span>
        <% if  logged_in? %>
        <% if @current_user.id == reply.user_id %>
          <div class="reply__btn">
          <%= link_to "Delete", book_comment_path(reply.book, reply), method: :delete, data: { confirm: "Are you sure?" }, class: "" %>
          </div>
        <% end %>
        <% end %>
        <% if logged_in? %>
          <div class="reply__btn">
            <%= link_to 'Reply', book_path(reply.book,parent_id: reply.id, :anchor => "wall") %>
          </div>
        <% end %>
      </div>
      <p><%= reply.comment %></p>
    </div>
  </div>
</li>
