<div class="body">
<div class="user-page-edit">
    <div class="card hovercard">
        <div class="card-background">

            <img class="card-bkimg" alt="" src="<%= @user.user_img.url(:user_index) %>">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="<%= @user.user_img.url(:user_index) %>">
        </div>
        <div class="card-info"> <span class="card-title"><%= @user.name %></span>

        </div>
    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                <div class="hidden-xs">Ratings</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Favorites</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Following</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">

          <div class="row">
            <div class="col-sm-3">
                <div class="rating-block">
                    <h4>Average user rating</h4>
                    <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-3">
                <h4>Rating breakdown</h4>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <hr/>
                <div class="review-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="<%= @user.user_img.url(:user_index) %>" class="img-rounded">
                            <div class="review-block-name"><a href="#"><%= @user.name %></a></div>
                            <div class="review-block-date"> <%=(@user.created_at.strftime("%d / %m / %Y")) %>
                                <br/><%= time_ago_in_words(@user.created_at) %> ago</div>
                        </div>
                        <div class="col-sm-9">
                          <%= simple_form_for([@user, @user.follow1s.build],remote: true) do |f| %>
                            <%= f.submit 'Follow', :class => "btn-follows-custom" %>

                          <% end %>
                            <div class="review-block-title">this was nice in buy</div>
                            <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="tab-pane fade in" id="tab2">
              <div class="container">
                <!-- Top Navigation -->

                <header>
                  <h1>Your Book favorite list <span>A shading effect for 3D transformed elements</span></h1>
                </header>
                <div class="wrapper">
                  <ul class="stage clearfix">
                    <% if @bookfavorite != nil %>

                     <% @bookfavorite.each do |minh| %>
                    <li class="scene">
                      <div class="movie" onclick="return true">
                        <div class="poster" style="background-image: url(<%= minh.book.book_img.url(:book_index) %>);"></div>
                        <div class="info">
                          <a class="first__img" href="/books/<%=minh.id %>"></a>
                          <header style="background-image: url(<%= minh.book.book_img.url(:book_index) %>);">
                            <h1><%= minh.book.title%></h1>
                            <span class="year">1946</span>
                            <span class="rating">PG</span>
                            <span class="duration">130 minutes</span>
                          </header>
                          <p>
                              <%= minh.book.description.truncate(150) %>
                          </p>
                        </div>
                      </div>
                      <% if logged_in? %>
      								<% if current_user.id == minh.user_id %>
      									<%= link_to 'Delete',user_bookfavorite_path(@user.id,minh.id),:class => "btn-delete-custom", method: :delete, data: {confirm: "are you sure"}  %>
      									<% end %>
                        <% end %>

                    </li>
                    <% end %>
                    <% end %>

                  </ul>
                </div><!-- /wrapper -->
              </div><!-- /container -->

        </div>
        <div class="tab-pane fade in" id="tab3">
          <div class="container follwing-user">
            <!-- Top Navigation -->

            <header>
              <h1>Follower<span>A shading effect for 3D transformed elements</span></h1>
            </header>
            <% @user_follow = @user.follow1s.all %>
            <% @user_follow.all.each do |user| %>
            <% user_follow1 = User.find(user.follow_user_id) %>
            <a href="<%= user_path(user_follow1)%>">
            <img class="follow-user" alt="" src="<%= user_follow1.user_img.url(:user_index) %>">
            </a>
            <% if current_user == @user %>
            <%= link_to 'Delete',user_follow1_path(@user.id,user.id),:class => "btn-delete-custom" , method: :delete, data: {confirm: "are you sure"}  %>
            <% end %>
            <% end %>
            </div><!-- /wrapper -->
          <div class="container user-following">
            <!-- Top Navigation -->

            <header>
              <h1>Following<span>A shading effect for 3D transformed elements</span></h1>
            </header>
            <% user_follow1 = Follow1.where(:follow_user_id => @user.id).order("created_at DESC") %>
            <% user_follow1.all.each do |user| %>
            <% user_follow2 = User.find(user.user_id) %>
            <a href="<%= user_path(user_follow2)%>">
            <img alt="" src="<%= user_follow2.user_img.url(:user_index) %>">
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>
