<body class="product-details">
		<!--[if lt IE 8]>
				<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
<!-- header-area-start -->

<!-- header-area-end -->
<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumbs-menu">
					<ul>
						<li><a href='<%= root_path %>'>Home</a></li>
						<li><a href='<%= book_path(@book) %>' class="active">book-details</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumbs-area-end -->
<!-- product-main-area-start -->
<div class="product-main-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<!-- product-main-area-start -->
				<div class="product-main-area">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
							<div class="flexslider">
										<img src='<%= @book.book_img.url(:book_show) %>' alt="woman" />
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
							<div class="product-info-main">
								<div class="page-title">
									<h1><%= @book.title %></h1>
								</div>
								<div class="product-reviews-summary">
									<div class="rating-summary">
										<% while @number < @average_review.to_i %>
										<i class="fa fa-star"></i>
										<% @number += 1 %>
										<% end %>
									</div>
									<div class="reviews-actions">
										<a href="#"><%=@book.reviews.count %> Reviews</a>
										<a href="<%= new_book_review_path(@book)  %>" class="view">Add Your Review</a>
									</div>
								</div>
								<div class="product-info-price">
									<div class="price-final">
										<span>$34.00</span>
										<span class="old-price">$40.00</span>
									</div>
								</div>
								<%= simple_form_for([@book, @book.bookfavorites.build],remote: true) do |f| %>
									<%= f.button :submit, :class => "btn-custom-favorite" %>
								<% end %>
								<div class="product-social-links edit-icon-book-show">
									<div class="product-addto-links">
										<a href="/books/<%= @book.id %>/reads"><i class="fa fa-eye"></i></a>
										<a href="#"><i class="fa fa-envelope-o"></i></a>
									</div>
									<div class="product-addto-links-text">
										<p><%= @book.description %></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- product-main-area-end -->
				<!-- product-info-area-start -->
				<div class="product-info-area mt-80">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#Details" data-toggle="tab">Details</a></li>
						<li><a href="#Reviews" data-toggle="tab"><%= @book.reviews.count %> Reviews </a></li>
					</ul>
					<div class="tab-content book-review-box">
														<div class="tab-pane active" id="Details">
																<div class="valu">
																	<p><%= @book.description %></p>
																</div>
														</div>
														<div class="tab-pane" id="Reviews">
																<div class="valu valu-2">
																		<div class="section-title mb-60 mt-60">
																				<h2>Customer Reviews</h2>
																		</div>
																	  <%= render @book.reviews %>
																</div>
														</div>
												</div>
				</div>
				<div class="comment-book-box">
				<h2>Comment Area</h2>
				<%= render @book.comments %>
				<% if logged_in? %>
							<div class="comment_respond">
								<h3 class="reply_title" id="wall" >Comment <small><a href="#">bình luận cho bài viết</a></small></h3>
								<%= simple_form_for([@book, @book.comments.build],remote: true) do |f| %>
									<div class="comment__form" >
										<p>Your email address will not be published.Required fields are marked </p>
										<div class="input__box">
											<!<img class="comment-images" alt="Brand" src="<%= @current_user.user_img.url(:user_index) %>">
											<%= f.input :comment,label: false %>
										</div>
										<div class="submite__btn">
											<%= hidden_field_tag(:parent_id, params[:parent_id]) %>
											<%= f.button :submit %>
										</div>
									</div>
								<% end %>
							</div>
						<% end %>
				</div>
				<!-- product-info-area-end -->
				<!-- new-book-area-start -->
				<div class="new-book-area mt-60">
					<div class="section-title text-center mb-30">
						<h3>upsell products</h3>
					</div>
					<div class="tab-active-2 owl-carousel upsell-product">
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="#">
									<img src="img/product/1.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
																				<a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
																						<i class="fa fa-search-plus"></i>
																				</a>
																		</div>
																		<div class="product-flag">
																				<ul>
																						<li><span class="sale">new</span></li>
																						<li><span class="discount-percentage">-5%</span></li>
																				</ul>
																		</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="#">Joust Duffle Bag</a></h4>
								<div class="product-price">
									<ul>
										<li>$60.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
																				<ul>
																						<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
																				</ul>
																		</div>
							</div>
						</div>
						<!-- single-product-end -->
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="#">
									<img src="img/product/3.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
																				<a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
																						<i class="fa fa-search-plus"></i>
																				</a>
																		</div>
																		<div class="product-flag">
																				<ul>
																						<li><span class="sale">new</span></li>
																				</ul>
																		</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="#">Chaz Kangeroo Hoodie</a></h4>
								<div class="product-price">
									<ul>
										<li>$52.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
																				<ul>
																						<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
																				</ul>
																		</div>
							</div>
						</div>
						<!-- single-product-end -->
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="#">
									<img src="img/product/5.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
																				<a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
																						<i class="fa fa-search-plus"></i>
																				</a>
																		</div>
																		<div class="product-flag">
																				<ul>
																						<li><span class="discount-percentage">-5%</span></li>
																				</ul>
																		</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="#">Set of Sprite Yoga Straps</a></h4>
								<div class="product-price">
									<ul>
										<li> <span>Starting at</span>$34.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
																				<ul>
																						<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
																				</ul>
																		</div>
							</div>
						</div>
						<!-- single-product-end -->
						<!-- single-product-start -->
						<div class="product-wrapper">
							<div class="product-img">
								<a href="#">
									<img src="img/product/7.jpg" alt="book" class="primary" />
								</a>
								<div class="quick-view">
																				<a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
																						<i class="fa fa-search-plus"></i>
																				</a>
																		</div>
																		<div class="product-flag">
																				<ul>
																						<li><span class="sale">new</span></li>
																						<li><span class="discount-percentage">-5%</span></li>
																				</ul>
																		</div>
							</div>
							<div class="product-details text-center">
								<div class="product-rating">
									<ul>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<h4><a href="#">Strive Shoulder Pack</a></h4>
								<div class="product-price">
									<ul>
										<li>$30.00</li>
										<li class="old-price">$32.00</li>
									</ul>
								</div>
							</div>
							<div class="product-link">
								<div class="product-button">
									<a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="add-to-link">
																				<ul>
																						<li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
																				</ul>
																		</div>
							</div>
						</div>
						<!-- single-product-end -->
					</div>
				</div>
				<!-- new-book-area-start -->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
				<div class="shop-left">
					<div class="left-title mb-20">
						<h4>Related Products</h4>
					</div>
					<div class="random-area mb-30">
						<div class="product-active-2 owl-carousel upsell-product">
							<div class="product-total-2">
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="#"><img src="img/product/20.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="#">Endeavor Daytrip</a></h4>
										<div class="product-price">
											<ul>
												<li>$30.00</li>
												<li class="old-price">$33.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="#"><img src="img/product/21.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="#">Savvy Shoulder Tote</a></h4>
										<div class="product-price">
											<ul>
												<li>$30.00</li>
												<li class="old-price">$35.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product">
									<div class="most-product-img">
										<a href="#"><img src="img/product/22.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="#">Compete Track Tote</a></h4>
										<div class="product-price">
											<ul>
												<li>$35.00</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="product-total-2">
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="#"><img src="img/product/23.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="#">Voyage Yoga Bag</a></h4>
										<div class="product-price">
											<ul>
												<li>$30.00</li>
												<li class="old-price">$33.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="#"><img src="img/product/24.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="#">Impulse Duffle</a></h4>
										<div class="product-price">
											<ul>
												<li>$70.00</li>
												<li class="old-price">$74.00</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-most-product">
									<div class="most-product-img">
										<a href="#"><img src="img/product/22.jpg" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
												<li><a href="#"><i class="fa fa-star"></i></a></li>
											</ul>
										</div>
										<h4><a href="#">Fusion Backpack</a></h4>
										<div class="product-price">
											<ul>
												<li>$59.00</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="banner-area mb-30">
						<div class="banner-img-2">
							<a href="#"><img src="img/banner/33.jpg" alt="banner" /></a>
						</div>
					</div>
					<div class="left-title-2 mb-30">
						<h2>Compare Products</h2>
						<p>You have no items to compare.</p>
					</div>
					<div class="left-title-2">
						<h2>My Wish List</h2>
						<p>You have no items in your wish list.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- product-main-area-end -->
<!-- footer-area-start -->

<!-- footer-area-end -->
<!-- Modal -->
		<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
								</div>
								<div class="modal-body">
										<div class="row">
												<div class="col-md-5 col-sm-5 col-xs-12">
														<div class="modal-tab">
																<div class="product-details-large tab-content">
																		<div class="tab-pane active" id="image-1">
																				<img src="img/product/quickview-l4.jpg" alt="" />
																		</div>
																		<div class="tab-pane" id="image-2">
																				<img src="img/product/quickview-l2.jpg" alt="" />
																		</div>
																		<div class="tab-pane" id="image-3">
																				<img src="img/product/quickview-l3.jpg" alt="" />
																		</div>
																		<div class="tab-pane" id="image-4">
																				<img src="img/product/quickview-l5.jpg" alt="" />
																		</div>
																</div>
																<div class="product-details-small quickview-active owl-carousel">
																		<a class="active" href="#image-1"><img src="img/product/quickview-s4.jpg" alt="" /></a>
																		<a href="#image-2"><img src="img/product/quickview-s2.jpg" alt="" /></a>
																		<a href="#image-3"><img src="img/product/quickview-s3.jpg" alt="" /></a>
																		<a href="#image-4"><img src="img/product/quickview-s5.jpg" alt="" /></a>
																</div>
														</div>
												</div>
												<div class="col-md-7 col-sm-7 col-xs-12">
														<div class="modal-pro-content">
																<h3>Chaz Kangeroo Hoodie3</h3>
																<div class="price">
																		<span>$70.00</span>
																</div>
																<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
																<div class="quick-view-select">
																		<div class="select-option-part">
																				<label>Size*</label>
																				<select class="select">
																						<option value="">S</option>
																						<option value="">M</option>
																						<option value="">L</option>
																				</select>
																		</div>
																		<div class="quickview-color-wrap">
																				<label>Color*</label>
																				<div class="quickview-color">
																						<ul>
																								<li class="blue">b</li>
																								<li class="red">r</li>
																								<li class="pink">p</li>
																						</ul>
																				</div>
																		</div>
																</div>
																<form action="#">
																		<input type="number" value="1" />
																		<button>Add to cart</button>
																</form>
																<span><i class="fa fa-check"></i> In stock</span>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<!-- Modal end -->


</body>
